.rated-numbers{
  .card{
    border: none;
    box-shadow: $box-shadow-dark;
    padding: 20px 15px;
    margin: 0 auto;
    .card-header{
      border: none;
      background: white;
      .card-title{
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
  .recently-added-wrapper, .top-rated-wrapper, .under-rated-wrapper{
    .card-body{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      li{
        padding: 10px 15px;
        border: 1px solid #eee;
        border-radius: 5px;
        transition: .3s;
        &:hover{
          border-color: var(--secondary-color);
          transform: scale(1.04);
        }
        a{
          font-size: 14px;
          color: var(--heading-color);
          font-weight: 500;
          &:hover{
            color: var(--secondary-color);
          }
        }
        span{
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
  .top-rated-wrapper{
    .card{
      box-shadow: none;
      border: 1px solid #eee;
    }
    .rating{
      span{
        color: #00C21A;
      }
    }
  }
  .under-rated-wrapper{
    .card{
      box-shadow: none;
      border: 1px solid #eee;
    }
    .rating{
      span{
        color: orangered;
      }
    }
  }
}